<div class="nested-fields">
  <%= f.file_field :step_image, accept: "image/jpeg,image/gif,image/png" %><br>
  <%= f.text_area :direction %>
  <%= link_to_remove_association "削除", f, class: "btn btn-outline-danger" %>
</div>