<%= render 'form', recipe: @recipe %>

<div class="btn-center"><%= link_to '編集をやめる', @recipe, class:"btn cancel"%></div>

<div class="btn-center"><%= link_to 'このレシピを削除', @recipe, method: :delete, class:"btn cancel"%></div>

