<%= render 'form', consultation: @consultation %>

<div class="btn-center"><%= link_to '編集をやめる', @consultation, class:"btn cancel"%></div>

<div class="btn-center"><%= link_to 'この相談を削除', @consultation, method: :delete, class:"btn cancel"%></div>

