.comment {
  @extend .content-width;

  &__inner {
    @extend .flex;
  }

  &__form,
  &__texts {
    @extend .mb-sm;
    padding: 30px 20px;
    background: $--c-white;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
  }

  &__count {
    @extend .font-md;
    @extend .mb-sm;
    font-weight: bold;
    letter-spacing: 1px;
    color: $--c-dark-gray;
    border-bottom: 1px solid $--c-light-gray;
  }

  &__item {
    @extend .mb-sm;
    padding: 5px 0;
    border-bottom: 1px solid $--c-light-gray;
  }

  &__content {
    @extend .mb-sm;
    @extend .font-sm;
    color: $--c-dark-gray;
    word-break: break-all;
  }

  &__info {
    @extend .font-sm;
    @extend .mb-sm;
    display: flex;
    align-items: center;
  }

  &__img {
    height: 25px;
    width: 25px;
    overflow: hidden;
    border-radius: 100%;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__name {
    color: $--c-brown !important;
    flex-grow: 2;
    padding-left: 5px;
  }

  &__delete {
    float: right;
    padding-left: 5px;
  }

  &__inputBx {
    position: relative;
    width: 100%;
  }

  &__label {
    @extend .font-md;
    color: $--c-dark-gray;
    font-weight: bold;
  }

  &__area {
    @extend .font-sm;
    @extend .mb-sm;
    width: 100%;
    border: 1px solid $--c-light-gray;
    padding: 10px;
    color: $--c-dark-gray;
    outline: none;
    resize: none;
    font-weight: 300;
  }

  &__replyBx {
    display: flex;
    align-items: center;
    @extend .mb-sm;

    & > input {
      width: 100%;
      font-size: 16px;
      padding: 10px;
      outline: none;
      font-weight: 400;
      border: 1px solid $--c-light-gray;
      letter-spacing: 1px;
      color: $--c-dark-gray;
      background: transparent;
      border-radius: 30px;
    }
  }

  &__reply-submit {
    & > button {
      background: none;
      border: none;
      outline: none;
      padding: 0;
      appearance: none;
      margin-left: 10px;

      height: 30px;
      width: 30px;
      overflow: hidden;

      & > img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }

  &__reply-item {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
  }

  &__reply-content {
    @extend .mb-sm;
    @extend .font-sm;
    color: $--c-dark-gray;
    word-break: break-all;
  }
}
