.favorite {
  &__link {
    text-decoration: none !important;
  }
  &__btn {
    @extend .font-md;
    color: $--c-pink !important;
  }

  &__count {
    @extend .font-md;
    color: $--c-dark-gray;
  }
}
