.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 125px;
  background-color: $--bg-gray;
  
  &__inner {
    @extend .content-width;
    @extend .flex;
    justify-content: space-between;
    align-items: center;
  }
}