.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navHeight;
  background-color: transparent;
  display: flex;
  align-items: center;
  z-index: 10;

  &.triggered {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 10px 0 25px -10px rgba(0, 0, 0, 0.5);
  }

  &__inner {
    @extend .content-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__nav {
    display: none;
  }

  &__ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__li {
    @extend .font-md;
    font-weight: bold;
    margin-left: 20px;

    & > a {
      color: $--c-brown;
      text-decoration: none !important;
    }
  }
}
