.ingredient {
  & >.cooking-title {
    width: 100%;
  }

  &__ul {
    @extend .font-sm;
    display: flex;
    justify-content: space-between;
    color: $--c-dark-gray;
    border-bottom: 1px solid $--c-light-gray;
    padding: 7px;
  }

  &__inputBx {
    @extend .mb-sm;
    display: flex;
    justify-content: space-between;
  }

  &__content,
  &__quantity {
    @extend .recipe-input;
    color: $--c-dark-gray;
  }

  &__content {
    width: 50%;
  }

  &__quantity {
    width: 30%;
  }
}
