.interest {
  @extend .font-sm;

  &__link,
  &__delete-link {
    color: #fff !important;
    border-radius: 100vh;
    padding: 10px;
    text-decoration: none !important;
  }

  &__link {
    background-color: $--c-before-interest;
    &:hover {
      background: $--c-before-interest-hover;
    }
  }

  &__delete-link {
    background-color: $--c-after-interest;
    &:hover {
      background: $--c-after-interest-hover;
    }
  }

  &__count {
    font-weight: 600;
    color: $--c-gray;
    padding-left: 10px;
  }
}