.inventory {
  @extend .content-width;

  &__container {
    @extend .flex;
    justify-content: space-between;
  }

  &__item {
    @extend .mb-sm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $--c-light-gray;
    border-radius: 4px;
    padding: 10px 15px;
    text-decoration: none !important;
  }

  &__photo {
    width: 65px;
    height: 65px;
    overflow: hidden;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__info {
    flex-basis: 70%;
  }

  &__field {
    @extend .mb-sm;
    display: flex;
    justify-content: space-between;

    & > input {
      text-align: center;
      letter-spacing: 1px;
      flex-basis: 60%;
    }

    .img-file {
      align-self: flex-start;
    }
  }

  &__label {
    @extend .font-md;
    font-weight: bold;
    color: $--c-brown !important;
    flex-basis: 30%;
  }

  &__name {
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid $--c-light-gray;

    & > a {
      @extend .font-md;
      font-weight: 600;
      color: $--c-brown !important;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__expiration-date,
  &__quantity {
    display: flex;
    text-align: center;
  }

  &__count {
    color: $--c-dark-gray;
  }

  &__detail {
    @extend .font-md;
    color: $--c-dark-gray;
    flex-basis: 50%;
  }

  // 投稿・編集ページここから
  &__input {
    @extend .recipe-input;
  }

  &__input-photo {
    align-self: flex-start;
    display: flex;
    flex-basis: 60%;

    & > .img-file {
      margin-right: 30px;
    }
  }

  &__input-memo {
    @extend .t-area;
    height: 80px;
    padding: 10px 15px;
    flex-basis: 60%;
  }

  &__date-select {
    & > input {
      @extend .t-area;
      flex-basis: 60%;
      height: 40px;
      border-radius: 15px;
    }
  }
  // 投稿・編集ページここまで
}
