// ログイン時のフラッシュメッセージここから
.notice,
.success {
  @extend .content-width;
  @extend .mb-sm;
  @extend .font-sm;
  font-weight: bold;
  text-align: center;
  background-color: $--bg-notice;
  border-color: $--bg-notice;
  color: $--c-notice;
  padding: 12px 20px;
}

// deviseはalert属性を返す
.alert {
  @extend .content-width;
  @extend .mb-sm;
  @extend .font-sm;
  font-weight: bold;
  text-align: center;
  background-color: $--bg-alert;
  border-color: $--bg-alert;
  color: $--c-alert;
  padding: 12px 20px;

  & ul > li {
    list-style: none !important;
  }
}
// ログイン時のフラッシュメッセージここまで
