// ログイン時のフラッシュメッセージここから
.notice,
.success {
  @extend .content-width;
  @extend .mb-sm;
  @extend .font-sm;
  font-weight: bold;
  text-align: center;
  background-color: $NoticeBgColor;
  border-color: $NoticeBgColor;
  color: $NoticeColor;
  padding: 12px 20px;
}

// deviseはalert属性を返す
.alert {
  @extend .content-width;
  @extend .mb-sm;
  @extend .font-sm;
  font-weight: bold;
  text-align: center;
  background-color: $AlertBgColor;
  border-color: $AlertBgColor;
  color: $AlertColor;
  padding: 12px 20px;

  & ul > li {
    list-style: none !important;
  }
}
// ログイン時のフラッシュメッセージここまで
