.list {
  & .tag {
    width: 100%
  }

  &__container {
    @extend .flex;
    @extend .content-width;
    @extend .mb-lg;
  }

  &__item {
    @extend .mb-sm;
    border: 1px solid $--c-light-gray;
    border-radius: 4px;
    text-decoration: none !important;
  }

  &__recipetitle {
    @extend .font-md;
    font-weight: bold;
    display: inline-block;
    color: $--c-brown !important;
  }

  &__description {
    @extend .font-sm;
    @extend .mb-sm;
    color: $--c-dark-gray;
  }

  &__img {
    display: block;
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 4px;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    &:hover {
      background-color: $--bg-light-gray;
      opacity: 0.75;
    }
  }

  &__notthing {
    @extend .content-width;
    @extend .font-md;
    color: $--c-brown;
  }
}
