.list {
  @extend .mb-lg;

  & .tag {
    width: 100%
  }

  &__container {
    @extend .flex;
    @extend .content-width;
  }

  &__item {
    @extend .mb-sm;
    border: 1px solid $--c-light-gray;
    border-radius: 4px;
    text-decoration: none !important;
  }

  &__recipetitle {
    @extend .font-md;
    font-weight: bold;
    display: inline-block;
    color: $--c-brown !important;
  }

  &__description {
    @extend .font-sm;
    @extend .mb-sm;
    color: $--c-dark-gray;
  }

  &__img {
    margin-bottom: 5px;
    display: block;
    height: 180px;
    overflow: hidden;
    border-radius: 4px;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    &:hover {
      background-color: $--bg-light-gray;
      opacity: 0.75;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    @extend .font-sm;
    @extend .mb-sm;
    width: 90%;
    margin: 0 auto;
  }

  &__detail {
    width: 90%;
    margin: 0 auto;
  }

  &__comment {
    @extend .font-md;
    display: block;
    color: $--c-black !important;
    text-decoration: none !important;
    margin-right: 30px;
  }

  &__user-img {
    overflow: hidden;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    margin-right: 8px;

    &>img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__user-name {
    align-items: flex-end;
    color: $--c-brown !important;
  }
}
