.tweet {
  &__item {
    @extend .content-width;
    @extend .mb-sm;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $--c-light-gray;
    border-radius: 4px;
    text-decoration: none !important;
  }

  &__img {
    @extend .mb-sm;
    height: 130px;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 4px;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    &:hover {
      background-color: $--bg-light-gray;
      opacity: 0.75;
    }
  }

  &__detail {
    flex-basis: 83%;
  }

  &__info {
    display: flex;
    justify-content: space-between
  }

  &__title {
    @extend .font-md;
    display: inline-block;
    font-weight: bold;
    color: $--c-brown !important;
  }

  &__description {
    @extend .font-sm;
    @extend .mb-sm;
  }


  &__user-avatar {
    display: block;
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__user-name {
    @extend .mb-sm;
    margin-right: 30px;
    color: $--c-brown !important;

    &:hover {
      text-decoration: underline;
    }
  }

  &__comment {
    @extend .font-md;
    display: block;
    color: $--c-black !important;
    margin-right: 30px;
  }

  &__reaction {
    @extend .mb-sm;
    display: flex;
    align-items: center;
    float: right;
  }
}
