.introduction {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $--bg-gray;
    position: relative;
    z-index: 0;
  }

  &__img {
    @extend .mb-sm;
    height: 300px;
    box-shadow: inset 0 0 30px $--c-black;

    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: -1;
    }
  }

  &__texts {
    @extend .pb-sm;
  }

  &__title {
    position: relative;
  }

  &__sub {
    @extend .mb-sm;
  }
}
