//ユーザー一覧ページここから
.user-list {
  &__container {
    @extend .content-width;
    @extend .mb-lg;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__item {
    @extend .mb-sm;
    flex-basis: 47%;
    border: 1px solid $ItemBorderColor;
    border-radius: 4px;
    text-decoration: none !important;

    &:hover {
      background-color: $ItemHoverColor;
      opacity: 0.75;
    }
  }

  &__img {
    @extend .mb-sm;
    height: 130px;
    overflow: hidden;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__detail {
    padding-left: 10px;
  }

  &__name {
    @extend .font-sm;
    font-weight: 600;
    display: inline-block;
    color: $RecipeTitleColor;
    text-decoration: none !important;
  }

  &__count {
    @extend .font-sm;
    color: $SubTitle;
  }
}
//ユーザー一覧ページここまで

// ユーザー詳細ページここから

.user {
  @extend .content-width;

  &__inner {
    @extend .flex;
    align-items: center;
    padding-top: 10px;
    @extend .mb-sm;
  }

  &__stats {
    @extend .mb-sm;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $ItemBorderColor;
  }

  &__tab {
    position: relative;
    display: block;
    flex-basis: 32%;
    text-decoration: none !important;

    &::after {
      content: "";
      position: absolute;
      background-color: $ItemSeparateColor;
      right: 0;
      top: 10px;
      width: 1px;
      height: 28px;
    }

    &:last-child::after {
      display: none;
    }

    & > p {
      @extend .font-sm;
      color: $UserNameColor;
      margin-bottom: 5px;
      text-align: center;
    }

    &.active {
      & > p {
        color: $SubmenuBtnHoverColor;
      }
    }

    &:not(.active):hover {
      opacity: 0.5;
      transition: opacity 0.3s;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    @extend .mr-sm;
    height: 75px;
    width: 75px;
    overflow: hidden;
    border-radius: 100%;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__name {
    @extend .font-lr;
    @extend .mb-sm;
    color: $UserNameColor;
    font-weight: bold;
  }

  &__submenu {
    width: 100%;
  }

  &__count {
    font-weight: bold;
  }
}
// ユーザー詳細ページここまで
