<section class="user">
  <%= render 'show_user' %>
</section>

<section class="list">
  <div class="subheader">
    <div class="main-title">Recipe</div>
  </div>
  <% if @recipes.any? %>
    <%= render 'shared/recipe_list' %>
  <% else %>
    <p class="list__notthing"><%= "#{@user.name}さんの投稿はありません。" %></p>
  <% end %>
</section>
