<section class="user">
  <%= render 'show_user' %>
</section>

<section class="user-list">
  <div class="subheader">
    <div class="main-title"><%= @title %></div>
  </div>
  <%= render 'shared/user-list' %>
</section>
