<h2>退会お手続き</h2>
<p>
  退会手続きをされますと、全てのサービスがご利用いただけなくなります。<br>
  再度ご利用をいただく場合には、新規登録のお手続きが必要になります。<br>
  本当に退会してよろしいですか？
</p>
<%= link_to "退会する", withdrawal_path, method: :patch, data: { confilm: "本当に退会しますか？" } %>
<%= link_to "退会しない", user_path(current_user) %>