<section class="comment">
  <div class="comment__inner">
    <div class="comment__texts">
      <div class="comment__count">コメント<%= @comments.length %>件</div>
      <%# consultation_comments/_consultation_comment.html.erbにレンダリング %>
      <%= render 'consultation_comments/comment' %>
    </div>
    <% if user_signed_in? %>
      <div class="comment__form">
        <%= render 'consultation_comments/form' %>
      </div>
    <% end %>
  </div>
</section>