<section class="comment">
  <div class="comment__inner">
    <div class="comment__texts">
      <div class="comment__count">コメント<%= comments.count %>件</div>
      <%# consultation_comments/_consultation_comment.html.erbにレンダリング %>
      <%= render partial: 'consultation_comments/comment', locals: { comments: comments } %>
    </div>
    <% if user_signed_in? %>
      <div class="comment__form">
        <%= render partial: 'consultation_comments/form', locals:{ consultation: @consultation} %>
      </div>
    <% end %>
  </div>
</section>