<footer class="footer">
  <div class="footer__inner">
    <%= link_to(root_path, class: 'logo') do %>
      <%= image_tag 'logo' %>
    <% end %>
    <nav class="footer__nav">
      <div class="footer__copyright">&copy; 2021 Yuki.Ishizaki </div>
    </nav>
  </div>
</footer>