@import "modules/valiables.scss";

.font-lr {
  font-size: 24px;
}

.mr-sm {
  margin-right: 16px !important;
}

.flex {
  flex-direction: row;
  flex-wrap: wrap;
}

.introduction {
  &__inner {
    padding: 50px;
  }
  &__texts,
  &__img {
    flex-basis: 47%;
  }

  &__texts {
    display: flex;
    align-items: flex-end;
  }
}

// トップページここから
.list {
  &__container {
    // 1行の要素を左右に寄せる。flexの親要素に指定。
    justify-content: space-between;
  }
  &__item {
    flex-basis: 32%;
  }

  &__img {
    height: 200px;
  }
}

.tweet {
  &__img {
    height: 125px;
    width: 125px;
  }

  &__description {
    display: block;
    color: $SubTitle;
  }
}
// トップページここまで

// レシピ詳細ここから
.description {
  padding-top: 40px;

  &__texts,
  &__img {
    flex-basis: 47%;
  }
}

.step {
  &__inner {
    padding: 18px 0;
  }

  &__number {
    margin-bottom: 0;
  }

  &__img {
    display: block;
    height: 150px;
    width: 150px;
    overflow: hidden;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }

    &:empty {
      display: none;
    }
  }

  &__description {
    padding-left: 18px;
  }
}
// レシピ詳細ここまで

// ユーザー詳細ページここから
.user {
  &__img {
    height: 150px;
    width: 150px;
    border-radius: 100%;
  }
}

// ユーザー詳細ページここまで

// 投稿・一覧ボタンここから
.following,
.followed,
.submenu {
  width: 130px;
}

// 投稿・一覧ボタンここまで

// フォロー・フォロワー詳細ページここから
.follow {
  &__img {
    height: 75px;
    width: 75px;
  }
}
// フォロー・フォロワー詳細ページここまで
