// PC表示時のフォントサイズ
.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 19px;
}

.font-lr {
  font-size: 28px;
}

.font-lg {
  font-size: 36px;
}

.mb-lg {
  margin-bottom: 150px !important;
}

.mr-sm {
  margin-right: 30px !important;
}

.pb-lg {
  padding-bottom: 150px !important;
}

.flex {
  flex-direction: row;
  flex-wrap: wrap;
}

// ヘッダーここから
.header {
  &__nav {
    display: block;
  }
}
// ヘッダーここまで

// モバイルメニューここから
.mobile-menu {
  &__btn {
    display: none;
  }
}
// モバイルメニューここまで

// トップページここから
.list {
  &__container {
    justify-content: space-between;
  }

  &__img {
    height: 290px;
  }
}

.tweet {
  &__img {
    height: 150px;
    width: 150px;
  }
}
// トップページここまで

// レシピ詳細ここから
.description {
  &__img,
  &__preview {
    height: 400px;
  }
}

.recipeuser {
  &__img {
    height: 60px;
    width: 60px;
  }
}

.step {
  &__img {
    height: 180px;
    width: 180px;
  }

  &__input {
    width: 70%;
  }
}
// レシピ詳細ここまで

// ユーザー詳細ページここから
.user {
  &__img {
    height: 150px;
    width: 150px;
  }
}

// ユーザー詳細ページここまで

// 投稿・一覧ボタンここから
.following,
.followed,
.submenu {
  width: 150px;
}
// 投稿・一覧ボタンここまで

// コメント表示・フォームここから
.comment {
  &__texts,
  &__form {
    padding: 45px 30px;
  }

  &__name {
    padding-left: 15px;
  }
}
// コメント表示・フォームここまで

// タグについてはここから
.tag {
  &__container {
    &::before {
      display: block;
      content: "";
      width: 21%;
      order: 1;
    }

    &::after {
      display: block;
      content: "";
      width: 21%;
    }
  }
  &__item {
    flex-basis: 21%;
  }
}
// タグについてはここまで

// 保存中の食材についてここから
.inventory {
  &__container {
    &::after {
      display: block;
      content: "";
      width: 30%;
    }
  }
  &__item {
    flex-basis: 30%;
  }
}
// 保存中の食材についてここまで
