// PC表示時のフォントサイズ
.font-sm {
  font-size: 16px;
}

.font-md {
  font-size: 19px;
}

.font-lr {
  font-size: 23px;
}

.font-lg {
  font-size: 36px;
}

.mb-lg {
  margin-bottom: 150px !important;
}

.pb-lg {
  padding-bottom: 150px !important;
}
