body {
  // ①英語のみのフォント、②日本語のフォントの順に記載
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

#container {
  position: relative;
  min-height: 100vh;
  padding-bottom: 125px;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

// スマホ表示時のフォントサイズ
.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.mr-sm {
  margin-right: 10px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.main-top {
  padding-top: $navHeight;
  .notice,
  .success,
  .alert {
    @extend .content-width;
  }
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

#container {
  position: relative;
  z-index: 5;
  transition: all 0.5s;
  background-color: $--c-white;
}

.timestamp {
  @extend .font-sm;
  color: $--c-brown;
}

.post-date {
  @extend .font-sm;
  color: $--c-gray;
  margin-bottom: 0;
}

.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title {
  @extend .font-sm;
  color: $--c-dark-gray;
}

.flex {
  display: flex;
  flex-direction: column;
}

.subheader {
  @extend .content-width;
  @extend .mb-sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: block;
  height: $LogoHeight;
  width: $LogoWidth;

  & > img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.cooking-title {
  @extend .content-width;
  @extend .font-md;
  @extend .mb-sm;
  font-weight: bold;
  color: $--c-ocher;
  border-bottom: 1px solid $--c-ocher;
}

.recipe-input {
  @extend .font-md;
  border: none;
  border-bottom: 2px solid $--c-input-border;
  color: $--c-dark-gray;
  outline: none;
  resize: none;
  transition: border-color 0.3s;
  height: 40px;

  &:focus {
    border-bottom: 2px solid $--c-brown;
  }
}

.t-area {
  @extend .font-md;
  position: relative;
  display: inline-block;
  background: transparent;
  box-sizing: border-box;
  border: 2px solid $--c-input-border;
  color: $--c-dark-gray;
  transition: border-color 0.3s;
  outline: none;
  resize: none;

  &:focus {
    border: 2px solid $--c-brown;
  }
}

.img-file {
  input[type="file"] {
    display: none;
  }
}

.notthing {
  @extend .content-width;
  @extend .font-md;
  @extend .mb-sm;
  color: $--c-brown;
}

.search_form {
  @extend .font-sm;
  @extend .mb-sm;
  @extend .content-width;
  text-align: center;

  & > input {
    width: 100%;
    padding: 10px;
    border: 1px solid $--c-light-gray;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
  }

}

.input {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  border: 1px solid $--c-login;
  border-radius: 30px;
  color: $--c-login;
  padding: 10px;
  outline: none;
  cursor: pointer;
  background: transparent;
  text-decoration: none !important;
}

.withdrawal-content {
  @extend .font-md;
  @extend .mb-sm;
  margin-bottom: 10px;
  color: $--c-login;
  font-weight: 400px;
}