@import "modules/valiables.scss";

body {
  // ①英語のみのフォント、②日本語のフォントの順に記載
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

// スマホ表示時のフォントサイズ
.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title {
  @extend .font-sm;
  color: $cSubTitle;
}
