@import "modules/valiables.scss";
@import "modules/button.scss";

body {
  // ①英語のみのフォント、②日本語のフォントの順に記載
  font-family: "Kameron", "Noto Sans JP", sans-serif;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

// スマホ表示時のフォントサイズ
.font-sm {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.mr-sm {
  margin-right: 10px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width {
  width: 90%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}

.timestamp {
  @extend .font-sm;
  color: $Black;
}

.main-title {
  @extend .font-lg;
  font-weight: 600;
  margin-bottom: 0;
}

.sub-title {
  @extend .font-sm;
  color: $SubTitle;
}

.flex {
  display: flex;
  flex-direction: column;
}

.subheader {
  @extend .content-width;
  @extend .mb-sm;
}
// トップページ一覧ここから
.introduction {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
    justify-content: space-between;
    padding: 15px;
    background-color: $BgGray;
    position: relative;
    z-index: 0;
  }

  &__img {
    @extend .mb-sm;
    height: 300px;
    box-shadow: inset 0 0 30px $Black;

    & > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: -1;
    }
  }

  &__texts {
    @extend .pb-sm;
  }

  &__title {
    position: relative;
  }

  &__sub {
    @extend .mb-sm;
  }
}

.list {
  &__container {
    @extend .flex;
    @extend .content-width;
    @extend .mb-lg;
  }

  &__item {
    @extend .mb-sm;
    border: 1px solid $ItemBorderColor;
    border-radius: 4px;
    text-decoration: none !important;

    &:hover {
      background-color: $ItemHoverColor;
      opacity: 0.75;
    }
  }

  &__recipetitle {
    @extend .font-md;
    font-weight: bold;
    display: inline-block;
    color: $RecipeTitleColor;
    text-decoration: none !important;
  }

  &__description {
    @extend .font-sm;
    color: $SubTitle;
  }

  &__img {
    height: 150px;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 4px;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__notthing {
    @extend .content-width;
    @extend .font-md;
    color: $UserNameColor;
  }
}

.tweet {
  &__item {
    @extend .content-width;
    @extend .mb-sm;
    display: flex;
    border-bottom: 1px solid $ItemBorderColor;
    border-radius: 4px;
    text-decoration: none !important;
  }
  &__img {
    height: 100px;
    width: 100px;
    overflow: hidden;
    margin-bottom: 5px;
    border-radius: 4px;

    &:hover {
      background-color: $ItemHoverColor;
      opacity: 0.75;
    }

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__detail {
    margin-left: 10.5px;
    position: relative;
  }

  &__title {
    @extend .font-md;
    display: inline-block;
    font-weight: bold;
    color: $RecipeTitleColor;
    text-decoration: none;
    outline: none;

    &:hover {
      color: $NameHoverColor;
      text-decoration: underline;
    }
  }

  &__description {
    @extend .font-sm;
    display: none;
  }

  &__userinfo {
    display: flex;
    text-decoration: none !important;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &__useravatar {
    height: 25px;
    width: 25px;
    overflow: hidden;
    margin-right: 10px;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__username {
    color: $UserNameColor;

    &:hover {
      color: $NameHoverColor;
      text-decoration: underline;
    }
  }
}
// トップページ一覧ここまで

// レシピ詳細ページここから
.description {
  @extend .content-width;
  @extend .mb-lg;

  &__inner {
    @extend .flex;
    justify-content: space-between;
  }
  &__img {
    @extend .mb-sm;
    height: 320px;
    width: 100%;
    overflow: hidden;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__title {
    @extend .font-lr;
    font-weight: bold;
    color: $RecipeTitleColor;
  }

  &__detail {
    @extend .font-sm;
    margin: 14px 0;
    font-weight: normal;
    color: $SubTitle;
  }
}

.recipeuser {
  @extend .mb-sm;

  &__title {
    @extend .font-md;
    @extend .mb-sm;
    font-weight: bold;
    color: $DetailTitle;
    border-bottom: 1px solid $DetailTitle;
  }

  &__inner {
    display: flex;
    align-items: center;
    text-decoration: none !important;
  }

  &__img {
    height: 40px;
    width: 40px;
    overflow: hidden;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__name {
    margin-left: 10px;
    color: $UserNameColor;

    &:hover {
      border-bottom: 1px solid $UserNameColor;
    }
  }
}

.ingredient {
  &__title {
    @extend .font-md;
    @extend .mb-sm;
    font-weight: bold;
    color: $DetailTitle;
    border-bottom: 1px solid $DetailTitle;
  }

  &__ul {
    @extend .font-sm;
    display: flex;
    justify-content: space-between;
    color: $IngredientAndStepColor;
    border-bottom: 1px solid $ItemBorderColor;
    padding: 7px;
  }
}

.step {
  @extend .content-width;

  &__item {
    border-bottom: 1px dotted $ItemBorderColor;
  }

  &__inner {
    @extend .flex;
    padding: 10px 0;
  }

  &__title {
    @extend .font-md;
    font-weight: bold;
    color: $DetailTitle;
    border-bottom: 1px solid $DetailTitle;
  }

  &__number {
    @extend .font-sm;
    color: $White;
    background-color: $RecipeTitleColor;
    margin-bottom: 10px;
    border-radius: 3px;
    width: 35px;
    height: 20px;
    line-height: 20px;
    text-align: center;
  }

  &__img {
    display: none;
  }

  &__description {
    @extend .font-sm;
    padding-left: 0;
    margin-bottom: 0;
    flex-grow: 2;
    color: $IngredientAndStepColor;
  }
}

// レシピ詳細ページここまで

// ユーザー詳細ページここから
.user {
  @extend .content-width;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 10px;
    @extend .mb-sm;
  }

  &__img {
    @extend .mr-sm;
    height: 75px;
    width: 75px;
    overflow: hidden;
    border-radius: 100%;

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__name {
    @extend .font-lr;
    @extend .mb-sm;
    flex-grow: 2;
    color: $UserNameColor;
    font-weight: bold;
  }

  &__submenu {
    align-self: flex-start;
  }

  &__stats {
    @extend .mb-sm;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid $ItemBorderColor;

    & > div {
      &:nth-child(3) {
        &::after {
          display: none;
        }
      }
    }
  }

  &__tab {
    position: relative;
    display: block;
    flex-basis: 32%;
    text-decoration: none !important;

    &::after {
      content: "";
      position: absolute;
      background-color: $ItemSeparateColor;
      right: 0;
      top: 10px;
      width: 1px;
      height: 28px;
    }

    & > p {
      @extend .font-sm;
      color: $UserNameColor;
      margin-bottom: 5px;
      text-align: center;
    }

    &.active {
      & > p {
        color: $SubmenuBtnHoverColor;
      }
    }

    &:not(.active):hover {
      opacity: 0.5;
      transition: opacity 0.3s;
    }
  }

  &__count {
    font-weight: bold;
  }
}

// ユーザー詳細ページここまで

// 投稿・一覧ボタンここから
.following,
.followed,
.submenu {
  @extend .font-md;
  width: auto;
}

// 投稿・一覧ボタンここまで

// フォロー・フォロワー詳細ページここから
.follow {
  &__item {
    @extend .content-width;
    @extend .mb-sm;
    @extend .pb-sm;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $ItemBorderColor;
  }

  &__img {
    @extend .mr-sm;
    height: 50px;
    width: 50px;
    overflow: hidden;
    border-radius: 4px;

    &:hover {
      background-color: $ItemHoverColor;
      opacity: 0.75;
    }

    & > img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &__name {
    @extend .font-md;
    text-decoration: none;
    color: $UserNameColor;

    &:hover {
      color: $NameHoverColor;
      text-decoration: underline;
    }
  }
}
// フォロー・フォロワー詳細ページここまで
// ログインページここから
.login {
  position: relative;
  width: 100%;
  height: 100%;
  @extend .flex;

  &__imgBx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    & > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__contentBx {
    z-index: 1;
    width: 100%;
  }

  &__title {
    @extend .font-lr;
    display: inline-block;
    color: $PageTitleColor;
    font-weight: 600;
    margin-bottom: 20px;
    border-bottom: 4px solid $NameHoverColor;
    letter-spacing: 1px;
  }

  &__formBx {
    width: auto;
    padding: 30px;
    margin: 40px;
    background: rgba(255, 255, 255, 0.9);
  }

  &__inputBx {
    margin-bottom: 20px;

    & > input {
      width: 100%;
      font-size: 16px;
      padding: 10px;
      outline: none;
      font-weight: 400;
      border: 1px solid $PageTitleColor;
      letter-spacing: 1px;
      color: $PageTitleColor;
      background: transparent;
      border-radius: 30px;
    }

    & > input[type="submit"] {
      background: $NameHoverColor;
      color: $White;
      border: none;
      font-size: 16px;
      font-weight: 500;
      cursor: pointer;
      border-radius: 30px;
    }

    & > a {
      margin-bottom: 10px;
      color: $PageTitleColor;
      font-weight: 400px;
      font-size: 14px;
    }
  }

  &__label {
    font-size: 16px;
    display: inline-block;
    color: $PageTitleColor;
    margin-bottom: 5px;
    font-weight: 300;
    letter-spacing: 1px;
  }

  &__remember {
    & > input,
    label {
      margin-bottom: 10px;
      color: $PageTitleColor;
      font-weight: 400px;
      font-size: 14px;
    }
  }
}
// ログインページここまで
