<%= render 'layouts/notifications' %>

<main>
  <section class="introduction">
      <div class="introduction__inner">
        <div class="introduction__img">
          <%= image_tag 'introduction.jpg' %>
        </div>
        <div class="introduction__texts">
          <div class="introduction__texts-inner">
            <div class="introduction__title main-title">
              Share recipes!
            </div>
            <div class="introduction__sub sub-title">
              レシピを共有しよう
            </div>
            <div class="introduction__description">
            <p>レシピの投稿や閲覧が可能で<br>簡単にシェアできるアプリです。</div></p>
            <p>あなたの望むレシピがきっと見つかります。</p>
            </div>
          </div>
        </div>
      </div>
  </section>

  <section class="list">
      <div class="subheader">
        <div class="main-title">New Arrival</div>
        <div class="sub-title">新しいレシピを見つけよう</div>
      </div>
      <%= render 'shared/recipe_list' %>
  </section>
  
  <section class="tweet">
      <div class="subheader">
        <div class="main-title">Follow Recipe</div>
        <div class="sub-title">フォロー中のレシピ</div>
      </div>
      <%= render 'shared/recipe_tweet' %>
  </section>
</main>
