$--c-white: white;
$--c-black: black;

$--c-light-gray: #c7c7cc;
$--c-gray: #99958a;
$--c-dark-gray: #4a4a4a;

$--bg-light-gray: #f3f3f3;
$--bg-gray: #eaebe6;

$--c-ocher: #af8728;
$--c-cream: #fff0c6;
$--c-pink: #e0245e;
$--c-brown: #59340a;
$--c-btn: #71411a;

$--c-login: #607d8b;
$--c-login-form-error: #c23934;
$--c-input-border: #eae8e3;
$--c-btn-hover: #ff9d00;
$--c-before-interest: #eb6100;
$--c-before-interest-hover: #f56500;
$--c-after-interest: #586170;
$--c-after-interest-hover: #3f4551;
$--bg-notice: #bde9ff;
$--c-notice: #4c6977;
$--bg-alert: #f3c0c0;
$--c-alert: #3e3a3a;

$contentMaxWidth: 1070px;
$navHeight: 100px;
$LogoHeight: 100px;
$LogoWidth: 150px;
