$White: white;
$Black: black;
$PageTitleColor: #607d8b;
$SubTitle: #535353;
$BgGray: #eaebe6;
$ItemHoverColor: #f3f3f3;
$ItemBorderColor: #c7c7cc;
$RecipeTitleColor: #59340a;
$UserNameColor: #583407;
$NameHoverColor: #71411a;
$DetailTitle: #af8728;
$IngredientAndStepColor: #4a4a4a;
$ItemSeparateColor: #eae8e3;
$FollowBtnHoverColor: #ffc300;
$SubmenuBtnHoverColor: #ff9d00;

$contentMaxWidth: 1070px;
$navHeight: 100px;
$LogoHeight: 100px;
$LogoWidth: 150px;
