$White: white;
$Black: black;
$SubTitle: #535353;
$BgGray: #eaebe6;
$ItemHoverColor: #f3f3f3;
$ItemBorderColor: #c7c7cc;
$RecipeTitleColor: #59340a;
$UserNameColor: #583407;
$DetailTitle: #af8728;
$IngredientAndStepColor: #4a4a4a;

$contentMaxWidth: 1070px;
$navHeight: 100px;
