.recipes__table {
  tr hover {
    cursor: pointer;
  }
}

.recipes__linkBox {
  a {
    margin: 30px;
  }
}
.recipe-box {
  box-shadow: 10px 10px 5px #888888;
}
.recipe-index {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

// .recipe-detail {
//   width: 50%;
//   height: 50%;
//   object-fit: cover;
// }

.recipe-link ul {
  list-style-type: none;
  bottom: 0;
}

.recipe-link li:first-child {
  font-size: 24px;
}

.recipe--micropost {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
}
