  <div>RecipeAppをご利用いただきありがとうございます。</div>
  <div>#{@resource.name}様</div>
  
  <% if @resource.try(:unconfirmed_email?) %>
    <!-- true→email変更 false→会員登録 -->
    <div>以下のURLをクリックして、メールアドレス変更手続きを完了してください。</div>
    <%= link_to "#{@resource.unconfirmed_email}", confirmation_url(@resource, confirmation_token: @token) %>
    <div>このURLの有効期限は24時間です。</div>
  <% else %>
    <div>会員登録が完了しました。</div>
    <div>Webページを開く</div>
    <p>http://localhost:3000</p>
  <% end %>


